<div class="profile-card">
    <div class="row">
        <img class="profile-img" src="../../assets/Group_196-removebg-preview.png" alt="profile img">
        <div class="name">
            <h2 class="profile-name">Laura Fiestas</h2>
            <h3 class="profile-subtitle">UX UI designer & Web Developer</h3>
        </div>

    </div>

    <p class="profile-description">Diseñadora UX UI y Desarrolladora web Front End en Formación y con +4 años de experiencia en creación de sitios web con CMS como Wordpress y Tiendas Online como Shopify</p>
</div>