<main>
    <img class="perfil" src="../../assets/Group 204.png" alt="perfil">
    <div class="contenido">
        <h1>¡Hola! Soy <span class="span-laura">Laura Fiestas</span></h1>
        <h2>Diseñadora y Desarrolladora web UX UI - Con +4 años de experiencia en creación de sitios web y tiendas online</h2>
        <h3>Mis Conocimientos y experiencia: </h3>
        <ul>
            <li>Diseño web con Figma UX UI - Diseño Responsive Completo con animaciones e interacciones + Design System completo - Nivel Avanzado</li>
            <li>Desarrollo web con HTML - Nivel Avanzado</li>
            <li>CSS y SASS + Bootstrap - Nivel Avanzado</li>
            <li>JavaScript y TypeScript - Nivel Intermedio</li>
            <li>Angular - Nivel Principiante</li>
            <li>Creación de páginas web con Wordpress + Elementor, Kubio + Contact Form 7, WP Forms y Yoast SEO</li>
            <li>Creación de páginas web con Herramientas no code como Webflow + Figma - Nivel Avanzado</li>
            <li>Creación de aplicaciones web complejas con herramientas no code como Bubble + IA - Nivel Avanzado</li>        </ul>
        <div class="buttons">
            <a class="btn1" href="mailto:laurafiestas1100@gmail.com">Contacta Conmigo</a>
            <a class="btn2" href="#">Ver Portfolio</a>
        </div>
    </div>
</main>
<div class="container-profile">
    <app-profile-card></app-profile-card>
</div>